@charset "UTF-08";

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}

header > h1 {
    color: white;
    text-align: center;
    font-variant: small-caps;
    padding-bottom: 10px;
}

header > h2 {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
} 

.versos {
    color: white;
    height: 300px;
    line-height: 2em;
    padding: 10%;
}

p#primeiro {
    background-color: white;
    color: black;
}

section.girassol{
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

p#segundo {
    background-color: rgba(92, 91, 91, 0.39);
    width: 200px;
}
p#terceiro {
    background-color: white;
    color: black;
    height: 500px;
}

section.livro {
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

p#quarto {
    background-color: rgba(92, 91, 91, 0.39);
    width: 200px; 
}

p#quinto {
    background-color: white;
    color: black;
    height: 500px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}